html {
  background-image: url('/assets/background.png');
  background-repeat: repeat-y;
  background-size: cover;
  background-position-x: 50%;
  background-blend-mode: color;
  background-color: rgba(255, 255, 255, 0.8)
}

.action, .entity {
  font-weight: bold;
}

h1 {
  font-size: 70px;
}

.divider {
  margin: 5px;
}

.explanation {
  position: absolute;
}

.rule-explanations, .right {
  font-style: italic;
  color: gray;
}

.left {
  width: 80vw;
}

.right {
  width: 20vw;
}

article {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

footer {
  display: flex;
  justify-content: center;
}

p {
  text-indent: 15px;
  margin-bottom: -5px;
}

blockquote {
  margin-top: 15px;
  margin-bottom: 15px;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  text-align: center;
}

@font-face {
  font-family: 'GRECOromanLubedJudo';
  src: url('assets/GRECOromanLubedJudo.otf') format('.otf');
  font-weight: normal;
  font-style: normal;
}

.title, .realm, .epic {
  font-family: 'GRECOromanLubedJudo';
  font-weight: bold;
}

section > h2 {
  font-family: 'GRECOromanLubedJudo'
}

.description {
  font-family: 'Times New Roman', Times, serif;
  font-weight: normal;
  font-style: italic;
  font-size: smaller;
}

.card {
  max-width: 30vw;
}

.description-pointer {
  stroke: red;
  stroke-width: 2px;
}

.terrain {
  color: black;
  fill: black;
}

.common {
  fill: #75491c;
}

.uncommon {
  fill: silver;
}

.rare {
  fill: #dbb535;
}

.explanation-name {
  stroke: red;
  color: red;
}

.explanation-power {
  stroke: orange;
  color: orange;
}

.explanation-type {
  stroke: green;
  color: green;
}

.explanation-realms {
  stroke: lightblue;
  color: lightblue;
}

.explanation-text {
  stroke: darkblue;
  color: darkblue;
}

.explanation-crystals {
  stroke: limegreen;
  color: limegreen;
}


dd {
  font-style: italic;
}

dl {
  margin-top: 0px;
}

svg {
  min-width:300px;
  max-width:300px;
  min-height:420px;
  max-height:420px;
  background-image:url('assets/alabasterexarch.png');
  background-size: contain;
  background-repeat: no-repeat;
}